<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  
    <%- include('./partials/nav.ejs') %>

    <div class="film content">
        <h2>All the Films</h2>
        <% if(films.length > 0) { %>
            <% films.forEach(film => { %>
                <h3 class="title"><%= film.title %></h3>
                <p class="description"><%= film.description %></p>
            <% }) %>
            
        <% } else {%>
            <h4>Add a Star Wars Movie</h4>
        <% } %>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>